<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <style>
        body {
            background-color: #eae7e7;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

    </style>
</head>
<body class="container">
<div>Hallo <b th:text="${user.name}"></b></div>
<div> Ein Indikator hat angeschlagen <b th:text="${event.environmentName}"></b></div>
<div> Produkt: <b th:text="${event.environmentName}"></b></div>
<div> Projekt: <b th:text="${event.project}"></b></div>
<div> Durchlauf gestartet: <b th:text="${event.executionStarted}"></b></div>
<div> Durchlauf beendet: <b th:text="${event.executionFinished}"></b></div>

</body>
</html>